<div id="form">
  <%= form_for @reminder do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %> <br>

    <%= f.label :begin %>
    <%= f.text_field :begin, class: 'datepicker' %>

    <%= f.label :due %>
    <%= f.text_field :due, class: 'datepicker' %>

    <br>
    <%= f.label :location %>
    <%= f.text_field :location %>

    <%= f.label :summary %>
    <%= f.text_area :summary %>
    <br>
    <%= f.label :closed%>
    <%= f.check_box :closed%>

    <%= f.submit %>
  <% end %>
</div>