<table>
  <% company_name = (@client.company)? @client.company.name : '' %>
  <%= label_block t_att(:client, :company), link_to(company_name, company_path(@client.company)) %>
</table>
<div class='form_align'>
  <table>
  <%= label_block t_att(:client, :first_name), @client.first_name %>
  <%= label_block t_att(:client, :last_name), @client.last_name %>
  <%= label_block t_att(:client, :title), @client.title %>
  <%= label_block t_att(:client, :salutation), @client.salutation %>
  <%= label_block t_att(:client, :salutation_letter), @client.salutation_letter %>
  <%= label_block t_att(:client, :department), @client.department %>
  </table>
</div>
<div class='form_align'>
  <table>
  <%= label_block t_att(:client, :phone), @client.phone %>
  <%= label_block t_att(:client, :phone_mobile), @client.phone_mobile %>
  <%= label_block t_att(:client, :fax), @client.fax %>
  <%= label_block t_att(:client, :email), @client.email %>

  </table>
</div>