<h2><%=  t('activerecord.models.client.other') %></h2>
<div class="digg_pagination">
  <div class="page_info">
    <%= page_entries_info @clients %>
  </div>
  <%= will_paginate @clients, :container => false %>
</div>

<%= render 'search' %>

<table class='customertable'>
  <%= render 'header' %>
  <% @clients.each do |client| %>
      <tr>
        <td><%= link_to client.company.name, company_path(client.company, :project_id => @project) unless client.company.nil? %> </td>
        <td><%= link_to client.to_s, client_path(client,:project_id => @project)  %> </td>
        <td><%= client.department %></td>
        <td><%= client.phone %></td>
        <td><%= client.email %></td>
        <td> <%= link_to t(:edit), edit_client_path(client,:project_id => @project), :class => 'icon icon-edit' %> </td>
        <td><%= link_to t(:delete), client, method: :delete,
                        data: { confirm: "Are you sure?" }, :class => 'icon icon-del' %> </td>
      </tr>
  <% end %>
</table>
<div class="digg_pagination">
  <div class="page_info">
    <%= page_entries_info @clients %>
  </div>
  <%= will_paginate @clients, :container => false %>
</div>