<div class='contextual'>
  <%= link_to t(:edit), edit_client_path(@client), :class => 'icon icon-edit' %>
  <%= link_to t(:delete), @client, method: :delete,
              data: { confirm: "Are you sure?" }, :class => 'icon icon-del' %>
</div>
<h2><%= @client %> </h2>

<%= render 'form' %>

<p><b>Kommentare</b></p>
<% @client.crmcomments.each do |c|%>
    <%= render 'crmcomments/comment', :c => c, :parent => @client %>
<% end %>

<hr>
<p><b>Neuer Kommentar</b></p>
<%= render 'crmcomments/form', {:parent => @client, :comment => @comment}  %>