<%= form_for [parent,comment] do |f| %>
    <p>
      <%= f.hidden_field :user_id, :value => User.current.id %>
      <%= f.hidden_field :dtime, :value => DateTime.now %>
      <%= f.text_area :comment, :rows => "4" %>
    </p>
    <%= f.submit %>
<% end %>