<div class="content company_item" id="<%= company.id %>">
  <div class="company_quick_detail company_name">
    <%= link_to company.name, company_path(company.id) %>
  </div>
  <div class="company_quick_detail">
    <%= company.branch %>
  </div>
  <div class="company_quick_detail">
    <%= link_to company.url %>
  </div>
  <div class="company_quick_detail">
    <%= mail_to company.mail %>
  </div>
  <div class="company_quick_detail">
    <%= company.primary_contact %>
  </div>
  <div class="company_quick_detail">
    <%= company.zip_code %>
  </div>
  <div class="company_quick_detail">
    <%= company.province %>
  </div>
  <div class="company_quick_detail">
    <%= company.street %>
  </div>

</div>