
<div class='contextual'>
  <%= link_to t(:new, :model => t(:client)), new_client_path(:company_id => company.id), :class => 'icon icon-add' %>
  <%= link_to t(:edit), edit_company_path(company.id), :class => 'icon icon-edit' %>
  <%= link_to t(:delete), company, method: :delete,
              data: { confirm: "Are you sure?" }, :class => 'icon icon-del' %>
</div>
  <h4><%= link_to company.name, company_path(company.id)  %> </h4>

  <p>
  <b><%= t_att(:company, :branch) %></b> :
  <%= company.branch %>
  </p>
  <p>
  <b><%= t_att(:company, :url) %></b>  :
  <%= company.url %>
  </p>
