
<div class='contextual'>
  <%= link_to t(:new_model, :model => t(:client)), new_client_path(:company_id => company.id), :class => 'icon icon-add' %>
  <%= link_to t(:edit), edit_company_path(company.id), :class => 'icon icon-edit' %>
  <%= link_to t(:delete), company, method: :delete,
              data: { confirm: "Are you sure?" }, :class => 'icon icon-del' %>
</div>
<h4><%= link_to company.name, company_path(company.id)  %> </h4>
<p>
  <% if params[:project_id] %>
    <%= raw company.tag_list.map { |t| link_to t, companies_path(:tag => t, :project_id => project_id), :class => 'tags' }.join() %>
  <% else %>
      <%= raw company.tag_list.map { |t| link_to t, companies_path(:tag => t), :class => 'tags' }.join() %>
   <% end %>
</p>
<p><%= company.quick_info %></p>
<p>Projekte: <%= raw company.projects.map{|p| link_to p.name, project_path(p) }.join(',') %></p>
  <fieldset class='collapsible collapsed'>
    <legend onclick='toggleFieldset(this);'><%= company.clients.count %>&nbsp;<%= t('activerecord.models.client.other')%></legend>
    <div style="display: none;">
      <% if company.clients.empty? %>
          <p><%= t(:lable_no_contacts) %></p>
      <% else %>

          <table class='customertable'>
            <%= render 'clients/header' %>
            <%= render company.clients %>
          </table>
      <% end %>
    </div>
  </fieldset>
<fieldset class='collapsible collapsed'>
  <legend onclick='toggleFieldset(this);'><%= t(:lable_last_comment) %> (<%= company.crmcomments.count %>  <%= t(:total) %>) </legend>
  <div style="display: none;">
    <% last_comment = company.last_comment %>
    <% if last_comment %>
      <%= render 'crmcomments/comment', :c => last_comment, :parent => company %>
    <% else %>
      <%= t(:lable_no_comments) %>
    <% end %>
    <a class='icon icon-add' onclick='$("#new_comment_<%=company.id%>").toggle()'><%= t(:new) %></a>
    <div id='new_comment_<%=company.id%>' style='display: none;'>
      <%= render 'crmcomments/form', {:parent => company, :comment => Crmcomment.new}  %>
    </div>
  </div>
</fieldset>

