
<div class='contextual'>
  <%= link_to t(:new, :model => t(:client)), new_client_path(:company_id => company.id), :class => 'icon icon-add' %>
  <%= link_to t(:edit), edit_company_path(company.id), :class => 'icon icon-edit' %>
  <%= link_to t(:delete), company, method: :delete,
              data: { confirm: "Are you sure?" }, :class => 'icon icon-del' %>
</div>
<h4><%= link_to company.name, company_path(company.id)  %> </h4>

<p><%= company.quick_info %></p>

<div>
  <fieldset class='collapsible collapsed'>
    <legend onclick='toggleFieldset(this);'><%= t('activerecord.models.client.other')%></legend>
    <div style="display: none;">
      <% if company.clients.empty? %>
          <p>No contacts created yet</p>
      <% else %>

          <table class='customertable'>
            <%= render 'clients/header' %>
            <%= render company.clients %>
          </table>
      <% end %>
    </div>
  </fieldset>
  <% last_comment = company.last_comment%>
  <% if last_comment %>
      <%= render 'crmcomments/comment', :c => last_comment, :parent => company %>
  <% end %>
</div>


