<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'CRMstyle', :plugin => 'crm' %>
<% end %>
<%= form_for @company do |builder| %>
<fieldset>
  <div class='form_align'>
    <p>
      <%= builder.label :name %>
      <%= builder.text_field :name %>
    </p>
    <p>
      <%= builder.label :extra_information %>
      <%= builder.text_field :extra_information %>
    </p>
      <%= builder.label :branch %>
      <%= builder.text_field :branch %>
    <p>
      <%= builder.label :organisation %>
      <%= builder.text_field :organisation %>
    </p>
  </div>
  <div class='form_align'>
    <p>
      <%= builder.label :street %>
      <%= builder.text_field :street %>
    </p>
    <p>
      <%= builder.label :zip_code %>
      <%= builder.text_field :zip_code %>
    </p>
    <p>
      <%= builder.label :province %>
      <%= builder.text_field :province %>
    </p>
    <p>
      <%= builder.label :state %>
      <%= builder.text_field :state %>
    </p>
  </div>
  <div class='form_align'>
    <p>
      <%= builder.label :url %>
      <%= builder.text_field :url %>
    </p>
    <p>
      <%= builder.label :mail %>
      <%= builder.text_field :mail %>
    </p>
  </div>
  <div class='form_action'>
    <%= builder.submit %>
  </div>
</fieldset>
<% end %>