<%= form_for @company do |builder| %>
<fieldset>
  <div class='form_align'>
    <p>
      <%= builder.label :name %>
      <%= builder.text_field :name %>
    </p>
    <p>
      <%= builder.label :extra_information %>
      <%= builder.text_field :extra_information %>
    </p>
    <p>
      <%= builder.label :branch %>
      <%= builder.text_field :branch %>
    </p>
    <p>
      <%= builder.label :organisation %>
      <%= builder.text_field :organisation %>
    </p>
  </div>
  <div class='form_align'>
    <p>
      <%= builder.label :street %>
      <%= builder.text_field :street %>
    </p>
    <p>
      <%= builder.label :zip_code %>
      <%= builder.text_field :zip_code %>
    </p>
    <p>
      <%= builder.label :province %>
      <%= builder.text_field :province %>
    </p>
    <p>
      <%= builder.label :state %>
      <%= builder.text_field :state %>
    </p>
  </div>
  <div class='form_align'>
    <p>
      <%= builder.label :url %>
      <%= builder.text_field :url %>
    </p>
    <p>
      <%= builder.label :mail %>
      <%= builder.text_field :mail %>
    </p>
    <p>
      <%= builder.label :primary_contact %>
      <%= builder.collection_select :primary_contact_id, @company.clients, :id, :to_s, :prompt => '-- select --' %>
    </p>
    <p>
      <%= builder.label :recommendation %>
      <%= builder.text_field :recommendation %>
    </p>
  </div>
  <div style='clear: both'>
    <p>
      <%= builder.label :branch_list %>
      <%= builder.text_field :branch_list, {:data => {'source' => Company.get_all_branches}, :class => 'autoc_multi', :size => '150'}  %>
    </p>
    <p>
      <%= builder.label :tag_list %>
      <%= builder.text_field :tag_list, {:data => {'source' => Company.get_all_tags}, :class => 'autoc_multi', :size => '150'} %>
    </p>
    <p> Projects: </p>
    <% Project.has_module('redmine_crm').each do |p| %>
      <%= check_box_tag 'company[project_ids][]', p.id, @company.projects.include?(p) %>
      <%= p.name %>
    <% end %>
  </div>
  <br>
  <div class='form_action'>
    <%= builder.submit %>
  </div>
</fieldset>
<% end %>