<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'CRMstyle', :plugin => 'crm' %>
<% end %>

 <%= params.to_yaml %>
<h2>CRM </h2>
<div>
<%= link_to 'New Company',new_company_path %> | <%= link_to 'New Client',new_client_path %>
</div>
<div>
  <%= form_tag companies_path, :method => 'get' do%>
    <%= label_tag :name %>
    <%= select_tag "search[name]", options_for_select(Company.uniq.pluck(:name)), include_blank: true %> <br>
    <%= label_tag  :branch %>
    <%= select_tag "search[branch]", options_for_select(Company.uniq.pluck(:branch)), include_blank: true %>
    <%= label_tag Company.human_attribute_name(:zip_code) %>
    <%= text_field_tag "search[zip_code]" %>
    <br>
    <%= submit_tag  'Go'%>
  <% end %>
</div>
<h3>Companies</h3>


  <% @companies.each do |company| %>
      <%= render company %>
      <% if company.clients.empty? %>
        <p>No contacts created yet</p>
      <% else %>
      <table>
      <tr  class="contactheader">
        <th></th>
        <th>Name</th>
        <th><%= Client.human_attribute_name :department %></th>
        <th><%= Client.human_attribute_name :phone %></th>
        <th><%= Client.human_attribute_name :email %></th>
        <th></th>
      </tr>
        <%= render company.clients %>
      </table>
      <% end %>
      <hr>
  <% end %>

<h3>Import CSV </h3>
<%= form_tag import_companies_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Company Import" %>
<% end %>
<br>
<%= form_tag import_clients_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Client Import" %>
<% end %>
