<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'CRMstyle', :plugin => 'crm' %>
<% end %>
<div class='contextual'>
  <%= link_to 'New Company',new_company_path, :class => 'icon icon-add' %>
  <%= link_to 'New Client',new_client_path, :class => 'icon icon-add' %>
</div>
<h2> CRM </h2>

<fieldset class='collapsible'>
  <legend onclick='$("#import").toggle();'>Import CSV</legend>
  <div id='import' style="display: none">
    <%= form_tag import_companies_path, multipart: true do %>
        <%= file_field_tag :file %>
        <%= submit_tag "Company Import" %>
    <% end %>
    <br>
    <%= form_tag import_clients_path, multipart: true do %>
        <%= file_field_tag :file %>
        <%= submit_tag "Client Import" %>
    <% end %>
  </div>
</fieldset>
<fieldset class='collapsible'>
  <legend onclick='$("#filters").toggle();'>Filter</legend>
  <div id='filters' style="display: none">

    <%= form_tag companies_path, :method => 'get' do%>
        <table>
          <tr>
            <td><%= label_tag :show_all %></td>
            <td><%= check_box_tag "show_all" %></td>
          </tr>
          <tr>
            <td><%= label_tag t_att(:company, :name) %></td>
            <td>  <%= select_tag "search[name]", options_for_select(Company.uniq.pluck(:name)), include_blank: true %> </td>
          </tr>
          <tr>
            <td><%= label_tag t_att(:company, :branch) %></td>
            <td><%= select_tag "search[branch]", options_for_select(Company.uniq.pluck(:branch)), include_blank: true %> </td>
          </tr>
          <tr>
            <td><%= label_tag  t_att(:company, :state) %></td>
            <td><%= select_tag "search[state]", options_for_select(Company.uniq.pluck(:state)), include_blank: true %> </td>
          </tr>
          <tr>
            <td><%= label_tag t_att(:company, :zip_code) %></td>
            <td><%= text_field_tag "search[zip_code]" %> </td>
          </tr>
          <tr>
            <td><%= label_tag  t_att(:company, :province) %></td>
            <td><%= select_tag "search[province]", options_for_select(Company.uniq.pluck(:province)), include_blank: true %> </td>
          </tr>
          <tr>
            <td><%= label_tag  t_att(:company, :organisation) %></td>
            <td><%= select_tag "search[organisation]", options_for_select(Company.uniq.pluck(:organisation)), include_blank: true %> </td>
          </tr>

        </table>
        <%= submit_tag   t 'search' %>
    <% end %>
  </div>
</fieldset>

<h3>Companies</h3>


<% @companies.each do |company| %>
    <%= render company %>
    <% if company.clients.empty? %>
        <p>No contacts created yet</p>
    <% else %>
        <table>
          <tr  class="contactheader">
            <th></th>
            <th>Name</th>
            <th><%= t_att(:client, :department) %></th>
            <th><%= t_att(:client, :phone) %></th>
            <th><%= t_att(:client, :email) %></th>
            <th></th>
          </tr>
          <%= render company.clients %>
        </table>
    <% end %>
    <hr>
<% end %>
