<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'CRMstyle', :plugin => 'crm' %>
<% end %>


<h2>CRM </h2>
<div>
<%= link_to 'New Company',new_company_path %> | <%= link_to 'New Client',new_client_path %>
</div>

<h3>Companies</h3>
<table>
  <tr class="companyheader">
    <th> <%= Company.human_attribute_name :name %> </th>
    <th>  <%= Company.human_attribute_name :branch %> </th>
    <th> <%= Company.human_attribute_name :url %> </th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @companies.each do |company| %>
      <tr>
      <td><%= link_to company.name, company_path(company.id)  %></td>
      <td><%= company.branch %></td>
      <td><%= company.url %> </td>
      <td></td>
      <td></td>
      <td><%= link_to "delete", company, method: :delete,
                      data: { confirm: "You sure?" } %></td>
      </tr>
      <tr  class="contactheader">
        <td></td>
        <td><i>Kontakte</i></td>
        <td><i><%= Client.human_attribute_name :department %></i></td>
        <td><i><%= Client.human_attribute_name :phone %></i></td>
        <td><i><%= Client.human_attribute_name :email %></i></td>
        <td></td>
      </tr>
      <% company.clients.each do |client| %>
        <tr>
            <td></td>
            <td><%= link_to client.first_name + ' ' + client.last_name, client_path(client)  %> </td>
            <td><%= client.department %></td>
            <td><%= client.phone %></td>
            <td><%= client.email %></td>
            <td></td>
        </tr>
      <% end %>
  <% end %>
</table>

<h3>Import CSV </h3>
<%= form_tag import_companies_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Company Import" %>
<% end %>
<br>
<%= form_tag import_clients_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Client Import" %>
<% end %>
