
<div class='contextual'>
  <%= link_to t(:new_model, :model => t(:company)),new_company_path, :class => 'icon icon-add' %>
  <%= link_to t(:new_model, :model => t(:client)),new_client_path, :class => 'icon icon-add' %>
</div>
<h2> CRM </h2>
<% if @project %>
  <p>Tags: <%= raw Company.get_all_tags.map { |t| link_to t, companies_path(:tag => t, :project_id => @project.id), :class => 'tags' }.join() %></p>
<% else %>
  <p>Tags: <%= raw Company.get_all_tags.map { |t| link_to t, companies_path(:tag => t), :class => 'tags' }.join() %></p>
<% end %>

<%= render 'import_files' %>

<% if @project %>
    <%= render 'search', :project_id => @project.id %>
<% else %>
    <%= render 'search' %>
<% end %>

<h3>
  <%= t('activerecord.models.company.other') %>
</h3>
  <%= link_to_if User.current.admin?, t(:label_show_all), companies_path, :search => params[:search], :class => 'icon icon-zoom-in' %> &nbsp;
  <%= link_to_if User.current.admin?, t('activerecord.models.client.other'), clients_path, :search => params[:search], :class => 'icon icon-user' %><br>
  <br>
  <p class="pagination"><%= pagination_links_full @company_pages, @company_count %></p>
  <br>
  <% @companies.each do |company| %>
  <% if @project %>
    <%= render company, :project_id => @project.id %>
  <% else %>
    <%= render company %>
  <% end %>

    <hr>
<% end %>

<p class="pagination"><%= pagination_links_full @company_pages, @company_count %></p>