<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'CRMstyle', :plugin => 'crm' %>
<% end %>

<h2><%= '#' + @company.id.to_s + ' ' + @company.name %> </h2>

<table>
  <tr>
    <td><%= Company.human_attribute_name :name %></td>
    <td><%= @company.name %> </td>
    <td><%= Company.human_attribute_name :extra_information %></td>
    <td><%= @company.extra_information %> </td>
  </tr>
  <tr>
    <td><%= Company.human_attribute_name :branch %></td>
    <td><%= @company.branch %> </td>
    <td><%= Company.human_attribute_name :organisation %></td>
    <td><%= @company.organisation %> </td>
  </tr>
  <tr>
    <td><%= Company.human_attribute_name :street %></td>
    <td><%= @company.street %> </td>
    <td><%= Company.human_attribute_name :state %></td>
    <td><%= @company.state %> </td>
  </tr>
  <tr>
    <td><%= Company.human_attribute_name :zip_code %></td>
    <td><%= @company.zip_code %> </td>
    <td><%= Company.human_attribute_name :province %></td>
    <td><%= @company.province %> </td>
  </tr>
  <tr>
    <td><%= Company.human_attribute_name :url %></td>
    <td><%= @company.url %> </td>
    <td><%= Company.human_attribute_name :mail %></td>
    <td><%= @company.mail %> </td>
  </tr>
</table>

<p><b><%= Client.name %></b></p>
<%= render @company.clients || "No clients created yet" %>
<%= link_to 'new client', new_client_path(:company_id => @company.id) %>

<p><b>Kommentare</b></p>
<% @company.crmcomments.each do |c|%>
 <%= render 'crmcomments/comment', :c => c %>
<% end %>

<hr>
<p><b>Neuer Kommentar</b></p>
<%= form_for @company do |f| %>

  <%= fields_for @comment do |builder| %>
    <%= render 'crmcomments/form', :f => builder %>
  <% end %>
  <%= f.submit 'New Comment' %>
<% end %>

<%= debug session %>