<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'CRMstyle', :plugin => 'crm' %>
<% end %>

<div class='contextual'>
  <%= link_to t(:new_model, :model => t(:client)), new_client_path(:company_id => @company.id), :class => 'icon icon-add' %>
  <%= link_to t(:delete), @company, method: :delete,
              data: { confirm: "You sure?" }, :class => 'icon icon-del' %>
  <%= link_to t(:edit), edit_company_path(@company.id), :class => 'icon icon-edit' %>
</div>
<h2><%= '#' + @company.id.to_s + ' ' + @company.name %> </h2>

<%= render 'form' %>

<p>
  <b><%= t('activerecord.models.client.other') %></b>
</p>
<table class ='customertable'>
  <%= render 'clients/header' %>
  <%= render @company.clients || "No clients created yet" %>
</table>

 <br>
<fieldset>
<legend><span id="comments_count"><%= pluralize(@comments.count, t('crmcomment')) %></span>
</legend>
<div id='comment-notice'></div>
  <div id='comments'>
<% @comments.each do |c|%>
 <%= render 'crmcomments/comment', :c => c, :parent => @company %>
<% end %>
  </div>
<hr>
<p><b><%= t(:new_model, :model => t(:crmcomment)) %></b></p>

<%= render 'crmcomments/form', {:parent => @company, :comment => @comment}  %>
</fieldset>