<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'CRMstyle', :plugin => 'crm' %>
<% end %>

<div class='contextual'>
  <%= link_to t(:delete), @company, method: :delete,
              data: { confirm: "You sure?" }, :class => 'icon icon-del' %>
  <%= link_to t(:edit), edit_company_path(@company.id), :class => 'icon icon-edit' %>
</div>
<h2><%= '#' + @company.id.to_s + ' ' + @company.name %> </h2>

<%= render 'form' %>

<p><b><%= t('activerecord.models.client.other') %></b> </p>
<%= link_to t(:new, :model => t(:client)), new_client_path(:company_id => @company.id), :class => 'icon icon-add' %>
<table>
  <%= render 'clients/header' %>
  <%= render @company.clients || "No clients created yet" %>
</table>


<p><b>Kommentare</b></p>
<% @company.crmcomments.each do |c|%>
 <%= render 'crmcomments/comment', :c => c %>
<% end %>

<hr>
<p><b>Neuer Kommentar</b></p>
<%= form_for @company do |f| %>

  <%= fields_for @comment do |builder| %>
    <%= render 'crmcomments/form', :f => builder %>
  <% end %>
  <%= f.submit 'New Comment' %>
<% end %>