<%= form_for @crm_action do |f| %>
    <div style="float:left;margin-right:5%">
    <p>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.label :start_date %>
      <%= f.date_select :start_date %>
    </p>
    <p>
      <%= f.label :end_date %>
      <%= f.date_select :end_date %>
    </p>
    <p>
      <%= f.label :done %>
      <%= f.check_box :done %>
    </p>

    </div>
    <p>
      <%= f.label :description %>
    </p>
    <p>
      <%= f.text_area :description, :rows => '3' %>
    </p><br>
    <p>
      <%= Company.model_name.human(count:2) %>
      <%= f.text_field :company_names, {:value => params[:company_names] || @crm_action.companies.map(&:name).join(','), :data => {'source' => Company.all.map{|c| c.name}}, :class => 'autoc_multi', :size => '150'} %>
    </p>
    <%= f.submit %>
<% end %>